{
    "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
    "plugins": ["prettier", "jest"],
    "rules": {
      "prettier/prettier": ["warn"],
      "import/no-unresolved": ["off"],
      "import/no-extraneous-dependencies": ["off"],
      "no-console": ["off"]
    },
    "env" : {
        "browser": true
    }
  }