.container1 {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;  
}

.container1 .vid1 {   
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
} 

.container2 {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;  
}

.container2 .vid2 {   
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
} 

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

video {
    object-fit: fill;
    width: 1920px;
    height: 1080px;
    position: inherit;
    top: 0px;
    background: black;
}